<% provide(:title, 'マイページ') %>
<div class="usershw">
  <div class="usershw_pnl" >
    <%= @user.name %>
    <%= image_tag  @user.image_url %>
  </div>
  <div class='book_lst'>
    <%= render 'users/list' %>
  </div>
</div>