
<h3 class="contents_title">お問い合わせ</h3>
<div class="contents_item">
  <ul>
    <li>当サイトに関するお問い合わせやご要望がございましたらこちらの連絡先まで送って頂きますようお願いいたします。
    <ul>
      <li>・Email: hrswkhd@gmail.com</li>
      <li><a href="https://twitter.com/mwkpgdjp">・製作者Twitterアカウント</a></li>
    </ul>
    <li>退会をご希望の方は以下からお願いします。</li>
    <li><%= button_to "退会", @user , :method => :delete %></li>
  </ul>
</div>
