<% provide(:title, 'お問い合わせ') %>
<h3 class="contents_title">お問い合わせ</h3>
<div class="contents_item">
  <ul>
    <li>当サイトに関するお問い合わせやご要望がございましたらこちらの連絡先まで送って頂きますようお願いいたします。
    <ul>
      <li>・Email: hrswkhd@gmail.com</li>
      <li><a href="https://twitter.com/mwkpgdjp">・製作者Twitterアカウント</a></li>
    </ul>
    <% if logged_in? %>
      <li>退会をご希望の方は<span><%= link_to "こちら", user_path(@current_user.id), method: :delete, data: { confirm: "退会しますか？" } %></span>からお願いします。</li>
    <% end %>
  </ul>
</div>
