<div class="home">
  <%= image_tag('/assets/2d6c505e9f92c2262951079f4822b1a4_m.jpg') %>
  <div class="home_item">
    <p>rebookは本登録型SNSです。
       本を通じて新たな繋がりができればよいと考えています
       How to?
       1.twitter認証でログインをする
       2.読んだ読んでいる本を登録する
       3.自分がどのような本を読んだか見返すことができる
       4.他のユーザーがどのような本を読んだか見ることができる
    <p>
    <p><%= link_to 'Twitterでログインしてはじめる', '/auth/twitter', :class => "btn btn-info"%></p>
  </div>
</div>