<div class="home">
  <%= image_tag('/352c50b0ab55e1dbf223b376ab62f439_m.jpg') %>
  <div class="home_item">
    <p><%= link_to 'Twitterでログインしてはじめる', '/auth/twitter', :class => "btn btn-info"%></p>
    <p>rebookは本登録型SNSサイトです</p>
    <p>あなたが読んだ本を検索して登録してみましょう</p>
  </div>
</div>