<% provide(:title, '本検索/登録') %>
<div class ="search_bx">
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag :book, "", class: "book_search form-control form-control-lg", name: "keyword", placeholder: "キーワードを入力"%>
    <button title="検索" type="submit">検索</button>
  <% end %>
</div>
<div class="book_lst">
  <%= render 'books/list' %>
</div>

