
html {
  font-size: 16px;
}
body {
  background:#DDDDDD;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

.container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


// #list{
//   width: 100%;
// }

// #book_search{
//   width: 400px;
// }
// .search-box{
//   display: float;
// }
.contents_item_number {
  ul {
    list-style: none;
    li{
      list-style: outside decimal;
      li{
        list-style: none;
      }
    }
  }
}
ul {
  list-style: none;
}

.footer {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color:  darkslategrey;
  .footer-wrap {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flexstart;
    justify-content: flex-start;
    li{
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
  }
  .row{
    margin-top: 10px;
  }
}
