
html {
  font-size: 16px;
}
body {
  background:#DDDDDD;
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

.header {
  background-color: darkslategrey;
  height: 30px;
  ul{
    display: -webkit-flex;
    display: flex;
    li{
      margin:0 10px;
    }
  }
}

// #list{
//   width: 100%;
// }

// #book_search{
//   width: 400px;
// }
// .search-box{
//   display: float;
// }

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color:  darkslategrey;
  .footer-wrap {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flexstart;
    justify-content: flex-start;
    li{
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
  }

}
