<footer class="footer">
  <nav class="navbar navbar-dark bg-success">
    <div class="mx-auto">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to 'このサイトについて', root_path %>
        </li>
        <li class="nav-item">
          <%= link_to '利用規約', terms_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'お問い合わせ', contact_path %>
        </li>
      </ul>
      <div class="container">
        <p>©2018 membo createdby<a href="https://twitter.com/mwkpgdjp">@水谷</a></p>
      </div>
    </div>
  </nav>
</footer>

