<footer class="footer">
  <ul class="footer-wrap">
    <li><%= link_to 'このサイトについて', root_path %></li>
    <li><%= link_to '利用規約','/agreement' %></li>
    <li><%= link_to 'お問い合わせ','/contact' %></li>
  </ul>
  <p>©2018 リブック createdby<a href="https://twitter.com/mwkpgdjp">@水谷</a></p>
</footer>